* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: #FF6900;
}

.container-head {
    display: flex;
    justify-content: space-between;
    
}

.gender {
    display: flex;
}

li {
    flex-basis: ;
}

.title