* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: #FF6900;
    position: fixed; 
    width: 100%;
}

.container-head {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
    
    
}

.selection {
    display: flex;
}

ul {
    list-style: none;
}

li {
    color: white;
    margin: 0 0.5rem;
    
}

.title {
    width: 10rem;
    margin: 1.5rem;
    
}